/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(255, 234, 207);
    }
    
    .YearInData2019 {
        background-color: white;
        box-shadow:  rgba(0, 0, 0, 0.5) 0 0  20px;
        margin: 5%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #subtitle {
        text-align: center;
    }
    
    #toc {
        margin: auto;
        text-align: center;
    }
    
    #toc .toc-item a {
        text-decoration: none;
    }
    
    h1 {
        text-align: center;
    }
    
    div#table-container {
        overflow-x: auto;
    }
    
    table {
        width: 100%;
    }
    
    table, th, td {
        border-collapse: collapse;
        margin: auto;
        border: 1px solid black;
    }
    
    td, th {
        padding: 10px;
        height: 3em;
        
    }
    
    img {
        width: 50%;
        margin-left: 25%;
        border: 1px lightblue solid;
    }
}