.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Be Vietnam', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  position: absolute;
  width: 50vw;
  top: 15vh;
  left: 22vw;
  padding: 10px;
  border: 3px black solid;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 1;
}
.title:hover {
  border: 3px #222 solid;
  background-color: #222;
}

/* #poorreuseofcode */
.button {
  position: absolute;
  width: 22vw;
  left: 36vw;
  padding: 10px;
  border: 3px black solid;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: 'Be Vietnam', sans-serif;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 1;
  background-color: #FFF0;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: #0002;
}

.App-link {
  color: #61dafb;
}